<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section th:include="base ::navbar"></section>

<section>
    <div class="container mt-3 p-5">
    <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
        <div class="card header text-center"><p class="fs-4">View Products</p></div>
        <div class="card body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Sr.No</th>
                    <th scope="col">Title</th>
                    <th scope="col">Image</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Discount Price</th>
                        <th scope="col">Status</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Action</th>


                </tr>
                </thead>
                <tbody>
                <tr th:each="p,c:${products}">
                    <th scope="row" >[[${c.count}]]</th>
                    <td>[[${p.title}]]</td>
                    <td><img th:src="@{'/img/product_img/'+${p.image}}" alt="" height="50px" width="50px"></td>
                    <td>[[${p.category}]]</td>
                    <td>[[${p.price}]]</td>
                    <td>[[${p.discount}]]</td>
                    <td>[[${p.discount_price}]]</td>
                    <td>[[${p.isActive}]]</td>

                    <td>[[${p.stock}]]</td>
                    <td><a th:href="@{'/admin/editPrice/'+${p.product_id}}" class="btn btn-sm btn-primary">Edit</a>
                    <a th:href="@{'/admin/viewProducts/deleteProduct/'+${p.product_id}}" class="btn btn-sm btn-danger">Delete</a></td>
                </tr>


                </tbody>
            </table>
        </div>
    </div>
    </div>
</section>

<section th:insert="base::footer"></section>
</body>
</html>